<div *ngIf="!isUserLoggedIn">
    <mat-toolbar color="accent" class="navbar">
        <span class="navbar-brand">Stack Overflow</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
        <button mat-button routerLink="/signup" routerLinkActive="active">SignUp</button>
    </mat-toolbar>
</div>
<div *ngIf="isUserLoggedIn">
    <mat-toolbar color="accent" class="navbar">
        <span class="navbar-brand">Stack Overflow</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
        <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>
